html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 400 16px/1.6 'CustomHelveticaNeue', 'sans-serif';
  color: black;
  background: #d7d2cb;
  overflow-x: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 92%; /* Reduce font-size for smaller screens */
  }
}
