.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #dbd7d2;
  padding: 1.5rem;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  .pleaForKindness {
    font-size: 1.2rem;
    color: #888;
    margin-top: 1em;
  }

  .close-button {
    display: block;
    margin: 0 auto;
    color: #a653f5;
    background-color: #dbd7d2;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 5px;
    font-family: 'Jura', sans-serif;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #a653f5;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #fa92fb;
    }
  }

  @media (max-width: 768px) {
    width: 90%;
    padding: 1rem;

    .pleaForKindness {
      font-size: 1rem;
    }

    .close-button {
      font-size: 0.9em;
      padding: 8px 16px;
    }
  }
}
